<template>
    <div>
        <h2>Tipo de cuenta: {{cuenta}}</h2>
        <h2 :class="colorCantidad">saldo: {{saldo}}€</h2>
        <h2 :class="colorCantidad">Cuenta {{estado ? 'Activada' : 'desactivada'}}</h2>
        <div v-for="(servicio, index) in servicios" :key="index">
            <span>{{index + 1}} - {{servicio}}</span>
        </div>
        <AccionSaldo
            texto="Aumentar saldo"
            @accion="subirSaldo"
        />
        <AccionSaldo
            texto="Disminuir saldo"
            @accion="disminuirSaldo"
            :desactivar="desactivar"
        />
    </div>
</template>

<script>
    import AccionSaldo from './AccionSaldo'
    export default {
        name: 'Cuenta',
        components: {
            AccionSaldo
        },
        data() {
            return {
                saldo: 500,
                cuenta: 'visa',
                estado: true,
                servicios: ['Pagos', 'Transferencias', 'finanzas'],
                desactivar: false
            }
        },
        methods: {
            subirSaldo() {
                this.saldo = this.saldo + 100
                this.desactivar = false
                this.estado = true
            },
            disminuirSaldo() {
                this.saldo = this.saldo - 100
                if (this.saldo === 0) {
                    this.desactivar = true
                    this.estado = false
                    alert('llegaste al final')
                    return
                }
            }
        },
        computed: {
            colorCantidad() {
                return this.saldo > 0 ? 'text-success' : 'text-danger'
            }
        }

    }
</script>

<style scoped>
    h2 {
        color: orangered;
        background-color: darkslategray;
    }
</style>