<template>
    <div>
        <h1>Mi banco 3.0</h1>
        <h2>{{texto}}</h2>
    </div>
</template>

<script>
    export default {
        name: 'Titulo',
        props: {
            texto: String
        }
    }
</script>

<style scoped>
    h2 {
        color: rgb(26, 228, 26);
    }
</style>